@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

header {
    background-color: #E5C687;
    display: grid;
    grid-template-columns: 150px auto;
}
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
}
nav {
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a {
    text-align: center;
    padding: 35px;
    font-family: "Alike Angular","Roboto Flex",Arial;
    font-size: 1.4em;
}
nav a:hover {
    background-color: #BCB382;
}
a {
    color: black;
    text-decoration: none;
    
}
.mainimg {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}
#maintex {
    margin: 5% auto;
}
#page {
    max-width: 1600px;
    margin: 0 auto;
}
p {
    text-align: center;
    font-family: "Roboto Flex",Arial, Helvetica;
    font-size: 1.2em;
    line-height: 80px; 
}
.explanations {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.explanations img {
width: 90%;
aspect-ratio: 2/1.5;
object-fit: cover;
margin: 3% 3%;
}
.explanations, p {
    justify-items: center;
    align-items: center;
}








.buttimg {
    
aspect-ratio: 1/1;
object-fit: cover;
margin-top: 20%;
margin: 4% auto;

}
.buttstuf {
     display: grid;
    grid-template-columns: 1fr;
}
.buttimg {
    border: 5px solid #3F6C51;
    margin-bottom: 2%;
    
}
.button{
    background-color:#3F6C51;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 15px 30px;
   justify-self: center;
   align-self: center;
    border-radius: 5px;
   text-align: center;
 
    
}
.button:hover {
    background-color: #BCB382;
    color: rgb(0, 0, 0);
}









.footertex {
  font-size: 1.3em;  
}


footer{
     font-size: 1.2em;
   margin-top: 5%;
   
 
    background-color: #E5C687;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer a:hover {
    background-color: #BCB382;
}
